.container{
    width: 100%;
    height: 30vw;
    margin: 0;
    margin-top: 160px;
    position: relative;
    .wrapper{
        width: 100%;
        height: 100%;
    }
    .img-banner{
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
        object-position: center;
    }
}
.form{
    position: absolute;
    top:80%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 60%;
    background-color: white;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    z-index: 2;
}
.left{
    display: flex;
    flex-direction: column;
    color: white;
    height: auto;
    background-color:#0392ce;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    svg{
        font-size: 40px;
        margin-bottom: 10px;
    }
}
.main{
    display: flex;
    padding: 2vw;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    input{
        width: 47%;
        padding: 10px 20px;
        margin: 2% 0;
        border: 0.5px solid rgb(141, 139, 139,0.3);
    }
}
.right{
    background-color: #0392ce;
    border:1px solid #0392ce ;
    margin: 2.8vw 0;
    margin-right: 2.8vw;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

//bn-img
.bn-container{
    margin-top: 80px;
    width: 100%;
    height: 25vw;
    position: relative;
    img{
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
    }
    .bn-text{
        position: absolute;
        top:0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        h1{
            background-color: rgb(0, 0, 0,0.7);
            flex: 1;
            display: flex;
            padding-top: 60px;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 50px;
        }
        .crum{
            background-color: rgb(0, 0, 0,0.5);
            padding: 15px 15%;
            color: white;
            display: flex;
            align-items: center;
            a{
                color: white !important;
            }
            svg{
                margin: 0 10px;
            }
            a:hover{
                color: #0392ce !important;
            }
            span{
                color: dodgerblue;
            }
        }
    }

}